# Ignoring variables with sensitive information
variables.json
variables.tf

# Some .tfstate atributes containing personal info and sensitive info.
terraform.tfstate
terraform.tfstate.backup


# Note : You'll have to ceate your own variables based on your subscribtion,resources and needs.
